<% include partials/header.ejs %>
	<h1>Socket.io Chat app</h1>
	<div class="container-chat">
		<section>
			<ul class="message-list">
				
			</ul>
		</section>
		<form action="" class="message-form">
			<fieldset>
				<label for="message-input">Enter message</label>
				<input type="text" id="message-input" class="message-input">
			</fieldset>
			<button type="submit">Send</button>
		</form>
	</div>
<% include partials/footer.ejs %>