<% include partials/header.ejs %>
	<form action="" class="message-form">
		<fieldset>
			<label for="message-input">Enter message</label>
			<input type="text" id="message-input" class="message-input">
		</fieldset>
		<button type="submit">Send message</button>
	</form>
<% include partials/footer.ejs %>