<% include partials/header.ejs %>
	<article class="container-content">
		<div class="container-user-form">
			<h1 class="main-heading">Trendwatch<br> Twitter</h1>
			<div class="user-form lightbox">
				<header>
					<h2 class="sub-heading">Pick a username!</h2>
				</header>
				<section>
					<form class="username-form">
				    	<fieldset class="username-fieldset">
				    		<input type="text" name="username" class="username-input" required>
				    		<p class="username-error"></p>
				    	</fieldset>
				    	<button type="submit">Go</button>
			    	</form>
				</section>
			</div>
		</div>
		
		<div class="container-choose-country hide lightbox">
			<header>
				<h2 class="sub-heading">Pick a country!</h2>
				<p>Which country would you like to get the trends from?</p>
			</header>
			<section>
				<form class="country-form">
						<fieldset class="country-fieldset">
							<input type="radio" name="country" class="country-input" data-woeid="1" id="global" value="global">
				    		<label for="global">Global</label>
				    	</fieldset>
				    	<fieldset class="country-fieldset">
				    		<input type="radio" name="country" class="country-input" data-woeid="23424975" id="uk" value="uk">
				    		<label for="uk">United Kingdom</label>
				    	</fieldset>
				    	<fieldset class="country-fieldset">
				    		<input type="radio" name="country" class="country-input" data-woeid="23424977" id="usa" value="usa">
				    		<label for="usa">United States</label>
				    	</fieldset>
				    	<fieldset class="country-fieldset">
				    		<input type="radio" name="country" class="country-input" data-woeid="23424909" id="nl" value="nl">
				    		<label for="nl">The Netherlands</label>
				    	</fieldset>
				    	<button type="submit">Go</button>
			    	</form>
			</section>
		</div>

		<div class="container-choose-topic hide lightbox">
			<header>
				<h2 class="sub-heading">Pick a trend!</h2>
				<p>Predict which trending topic will get the most tweets in the next minute</p>
			</header>
			<section>
				<ul class="container-topic-options">
					
				</ul>
			</section>
		</div>
		<div class="container-game hide">
			<aside class="aside-tweets">
				<h2 class="sub-heading">Incoming tweets</h2>
				<div class="container-tweets">
					<div class="container-tweet-text">
						<p class="tweet-text"></p>
					</div>
				</div>
			</aside>
			<section class="main-game">
				<header class="game-header">
					<div class="container-prediction">
						<h3 class="game-heading">Your prediction</h3>
						<p class="prediction"></p>
					</div>
					<div class="container-game-time">
						<h3 class="game-heading">Time</h3>
						<p class="counter">60</p>
					</div>
				</header>
				<div class="container-bar-chart"></div>
			</section>
			<div class="container-result hide">
				<div class="result">
					<h2 class="result-heading"></h2>
					<p class="result-message">You got it <span class="user-result"></span>:</p>
					<p><span class="twitter-result"></span> was the most tweeted trend<br> in the last minute!</p>
					<button class="btn-play-again">Play again</button>
				</div>
			</div>
			<div class="container-error hide">
				<div class="error">
					<h2 class="result-heading">Oops there was<br> an error😕</h2>
					<p>Error message: <span class="error-message"></span></p>
					<button class="btn-play-again">Please try again</button>
				</div>
			</div>
		</div>
		<div class="container-connection-error hide">
			<p>We've lost connection with the server, this could cause errors in your result</p>
			<button class="btn-play-again">Restart game</button>
		</div>
	</article>
<% include partials/footer.ejs %>