body {
	color: white;
	font-family: Avenir, sans-serif;
	font-weight: 100;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #829a8e;
}

h1 {
	font-weight: inherit;
}

.container-bar-chart {
	width: 100%;
	height: 60vh;
}

.axis path,
.axis line {
  fill: none;
  stroke: #727272;
  shape-rendering: crispEdges; }

text {
  fill: #727272; }

.label {
  font-size: .8em;
  font-weight: 600; }